body {
    background-color: lightblue;
  }
  
  div {
    margin: auto;
  width: 50%;
  border: 3px solid lightblue;
  padding: 10px;
   
    display: block;
    justify-content: center;
  }
  
  .choices, .numbers{
   display: flex
   ; 
  }

  .center{
    justify-content: center;
    margin: auto;
    text-align: center;
  }
